<div class="contents row">
    <% @fukyos.each do |fukyo| %>
      <%= link_to fukyo_path(fukyo.id) do %>
        <%= image_tag fukyo.image.variant(resize: '500x500'), class: :image_tag %>
      <% end %>
        <span class="name">
        <p><strong class="fukyo-sya"><%= link_to fukyo.user.fukyo_sya, "/users/#{fukyo.user[:id]}" %></strong></p>
        <h1><%= fukyo.title %></h1>
        </span>
  <% end %>
</div>
